<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>b</key>
    <dict>
      <key>public.kern2.quotesingle</key>
      <real>-121.36752</real>
    </dict>
    <key>h</key>
    <dict>
      <key>public.kern2.quotesingle</key>
      <real>-66.66666</real>
    </dict>
    <key>l.ss01</key>
    <dict>
      <key>public.kern2.quotesingle</key>
      <real>-78.63248</real>
    </dict>
    <key>m</key>
    <dict>
      <key>public.kern2.t</key>
      <real>-52.99145</real>
    </dict>
    <key>p</key>
    <dict>
      <key>public.kern2.quotesingle</key>
      <real>-52.99145</real>
    </dict>
    <key>public.kern1.A</key>
    <dict>
      <key>public.kern2.T</key>
      <real>-82.375</real>
      <key>public.kern2.V</key>
      <integer>-90</integer>
      <key>public.kern2.Y</key>
      <real>-66.66666</real>
      <key>public.kern2.quotesingle</key>
      <real>-52.99145</real>
    </dict>
    <key>public.kern1.B</key>
    <dict>
      <key>L</key>
      <real>-27.35043</real>
      <key>R</key>
      <real>-39.31624</real>
      <key>public.kern2.A</key>
      <real>-85.47009</real>
      <key>public.kern2.H</key>
      <real>-52.99145</real>
      <key>public.kern2.O</key>
      <real>-39.31624</real>
      <key>public.kern2.Y</key>
      <real>-147.00854</real>
      <key>public.kern2.quotesingle</key>
      <real>-105.9829</real>
      <key>public.kern2.u</key>
      <real>-13.67521</real>
      <key>public.kern2.y</key>
      <real>-27.35043</real>
    </dict>
    <key>public.kern1.F</key>
    <dict>
      <key>e</key>
      <real>-66.66666</real>
      <key>public.kern2.A</key>
      <real>-159.9359</real>
      <key>public.kern2.J</key>
      <integer>-45</integer>
      <key>public.kern2.a</key>
      <real>-80.34188</real>
      <key>public.kern2.i</key>
      <real>-54.70086</real>
      <key>public.kern2.j</key>
      <real>-83.11966375</real>
      <key>public.kern2.o</key>
      <real>-94.0171</real>
      <key>public.kern2.period</key>
      <integer>-150</integer>
      <key>public.kern2.u</key>
      <real>-41.02564</real>
      <key>public.kern2.w</key>
      <real>-94.0171</real>
      <key>public.kern2.y</key>
      <real>-41.02564</real>
    </dict>
    <key>public.kern1.G</key>
    <dict>
      <key>public.kern2.T</key>
      <real>-18.75</real>
      <key>public.kern2.Y</key>
      <real>-26.25</real>
      <key>public.kern2.quotesingle</key>
      <real>-135.04274</real>
    </dict>
    <key>public.kern1.H</key>
    <dict>
      <key>public.kern2.A</key>
      <real>-39.31624</real>
      <key>public.kern2.T</key>
      <real>-41.02564</real>
      <key>public.kern2.quotesingle</key>
      <real>-13.67521</real>
    </dict>
    <key>public.kern1.J</key>
    <dict>
      <key>public.kern2.A</key>
      <real>-37.5</real>
    </dict>
    <key>public.kern1.K</key>
    <dict>
      <key>e</key>
      <real>-41.02564</real>
      <key>public.kern2.J</key>
      <real>-26.25</real>
      <key>public.kern2.hyphen</key>
      <real>-106.25</real>
      <key>public.kern2.o</key>
      <real>-52.99145</real>
      <key>public.kern2.u</key>
      <real>-52.99145</real>
      <key>public.kern2.w</key>
      <real>-52.99145</real>
      <key>public.kern2.y</key>
      <real>-66.66666</real>
    </dict>
    <key>public.kern1.L</key>
    <dict>
      <key>periodcentered.loclCAT.case</key>
      <integer>-275</integer>
      <key>public.kern2.J</key>
      <integer>-15</integer>
      <key>public.kern2.T</key>
      <real>-174.35898</real>
      <key>public.kern2.V</key>
      <real>-136.75214</real>
      <key>public.kern2.Y</key>
      <real>-156.43696875</real>
      <key>public.kern2.quotesingle</key>
      <real>-133.33333</real>
    </dict>
    <key>public.kern1.M</key>
    <dict>
      <key>public.kern2.A</key>
      <real>-39.31624</real>
    </dict>
    <key>public.kern1.O</key>
    <dict>
      <key>public.kern2.A</key>
      <real>-80.34188</real>
      <key>public.kern2.T</key>
      <real>-60.36751875</real>
      <key>public.kern2.U</key>
      <real>-21.153845000000004</real>
      <key>public.kern2.V</key>
      <real>-66.66666</real>
      <key>public.kern2.W</key>
      <integer>-35</integer>
      <key>public.kern2.X</key>
      <real>-85.47009</real>
      <key>public.kern2.Y</key>
      <real>-114.69230625</real>
      <key>public.kern2.quotesingle</key>
      <real>-66.66666</real>
    </dict>
    <key>public.kern1.P</key>
    <dict>
      <key>comma</key>
      <real>-158.97437</real>
      <key>public.kern2.A</key>
      <real>-117.30769375</real>
      <key>public.kern2.J</key>
      <real>-52.5</real>
      <key>public.kern2.a</key>
      <real>-52.99145</real>
      <key>public.kern2.period</key>
      <real>-186.32478</real>
      <key>public.kern2.y</key>
      <real>41.02564</real>
    </dict>
    <key>public.kern1.Q.ss01</key>
    <dict>
      <key>public.kern2.U</key>
      <real>-11.75213875</real>
    </dict>
    <key>public.kern1.R</key>
    <dict>
      <key>public.kern2.H</key>
      <real>-39.31624</real>
      <key>public.kern2.S</key>
      <real>-39.31624</real>
      <key>public.kern2.U</key>
      <real>-68.37607</real>
      <key>public.kern2.Y</key>
      <integer>-70</integer>
      <key>public.kern2.a</key>
      <real>-52.99145</real>
      <key>public.kern2.o</key>
      <real>-39.31624</real>
      <key>public.kern2.quotesingle</key>
      <real>-39.31624</real>
      <key>public.kern2.u</key>
      <real>-39.31624</real>
      <key>public.kern2.w</key>
      <real>-39.31624</real>
    </dict>
    <key>public.kern1.S</key>
    <dict>
      <key>public.kern2.A</key>
      <real>-39.31624</real>
      <key>public.kern2.O</key>
      <real>-25.64103</real>
      <key>public.kern2.T</key>
      <real>-92.30769</real>
      <key>public.kern2.U</key>
      <real>-39.31624</real>
      <key>public.kern2.quotesingle</key>
      <real>-80.34188</real>
      <key>public.kern2.t</key>
      <real>-85.47009</real>
      <key>public.kern2.u</key>
      <real>-25.64103</real>
      <key>t_i</key>
      <real>-115.59829375</real>
    </dict>
    <key>public.kern1.T</key>
    <dict>
      <key>comma</key>
      <real>-160.68376</real>
      <key>e</key>
      <real>-38.67521125</real>
      <key>public.kern2.A</key>
      <real>-92.5</real>
      <key>public.kern2.J</key>
      <real>-22.5</real>
      <key>public.kern2.O</key>
      <integer>-50</integer>
      <key>public.kern2.a</key>
      <real>-41.880342500000005</real>
      <key>public.kern2.hyphen</key>
      <integer>-80</integer>
      <key>public.kern2.o</key>
      <real>-70.726495</real>
      <key>public.kern2.period</key>
      <real>-119.65812</real>
      <key>public.kern2.quotesingle</key>
      <real>52.99145</real>
      <key>public.kern2.s</key>
      <real>-63.03418875</real>
      <key>public.kern2.w</key>
      <real>-66.02564</real>
      <key>public.kern2.y</key>
      <real>-55.34187625</real>
    </dict>
    <key>public.kern1.U</key>
    <dict>
      <key>public.kern2.A</key>
      <real>-57.947649999999996</real>
    </dict>
    <key>public.kern1.V</key>
    <dict>
      <key>e</key>
      <real>-45.94016875</real>
      <key>public.kern2.A</key>
      <real>-104.375</real>
      <key>public.kern2.J</key>
      <real>-26.25</real>
      <key>public.kern2.hyphen</key>
      <real>-68.75</real>
      <key>public.kern2.o</key>
      <real>-11.75213875</real>
      <key>public.kern2.period</key>
      <real>-119.65812</real>
    </dict>
    <key>public.kern1.W</key>
    <dict>
      <key>e</key>
      <real>-13.67521</real>
      <key>public.kern2.A</key>
      <real>-63.75</real>
      <key>public.kern2.J</key>
      <integer>-30</integer>
      <key>public.kern2.O</key>
      <integer>-35</integer>
      <key>public.kern2.i</key>
      <real>-25.64103</real>
      <key>public.kern2.o</key>
      <real>-51.28205</real>
    </dict>
    <key>public.kern1.X</key>
    <dict>
      <key>public.kern2.hyphen</key>
      <real>-118.75</real>
    </dict>
    <key>public.kern1.Y</key>
    <dict>
      <key>comma</key>
      <real>-188.03419</real>
      <key>e</key>
      <real>-121.36752</real>
      <key>public.kern2.A</key>
      <real>-98.49679375</real>
      <key>public.kern2.J</key>
      <real>-22.5</real>
      <key>public.kern2.O</key>
      <real>-54.70086</real>
      <key>public.kern2.S</key>
      <real>-27.35043</real>
      <key>public.kern2.a</key>
      <real>-94.0171</real>
      <key>public.kern2.g</key>
      <real>-83.11966375</real>
      <key>public.kern2.i</key>
      <real>-54.70086</real>
      <key>public.kern2.o</key>
      <real>-135.04274</real>
      <key>public.kern2.period</key>
      <real>-121.36752</real>
      <key>public.kern2.u</key>
      <real>-49.3589775</real>
      <key>public.kern2.w</key>
      <real>-135.04274</real>
    </dict>
    <key>public.kern1.Z</key>
    <dict>
      <key>public.kern2.J</key>
      <real>-37.5</real>
    </dict>
    <key>public.kern1.a</key>
    <dict>
      <key>public.kern2.f</key>
      <integer>-50</integer>
      <key>public.kern2.t</key>
      <real>-131.25</real>
      <key>public.kern2.v</key>
      <integer>-70</integer>
    </dict>
    <key>public.kern1.bar</key>
    <dict>
      <key>public.kern2.A</key>
      <real>-39.31624</real>
    </dict>
    <key>public.kern1.bracketleft</key>
    <dict>
      <key>public.kern2.A</key>
      <real>-39.31624</real>
    </dict>
    <key>public.kern1.bracketright</key>
    <dict>
      <key>public.kern2.A</key>
      <real>-39.31624</real>
    </dict>
    <key>public.kern1.e</key>
    <dict>
      <key>e</key>
      <real>54.70086</real>
      <key>public.kern2.o</key>
      <real>41.02564</real>
      <key>public.kern2.quotesingle</key>
      <real>-80.34188</real>
      <key>public.kern2.s</key>
      <real>54.70086</real>
      <key>public.kern2.w</key>
      <real>54.70086</real>
    </dict>
    <key>public.kern1.f</key>
    <dict>
      <key>public.kern2.a</key>
      <integer>-50</integer>
      <key>public.kern2.f</key>
      <real>-85.47009</real>
      <key>public.kern2.o</key>
      <real>-66.66666</real>
      <key>public.kern2.t</key>
      <integer>-20</integer>
      <key>public.kern2.w</key>
      <real>-66.66666</real>
    </dict>
    <key>public.kern1.g</key>
    <dict>
      <key>public.kern2.a</key>
      <real>-41.880342500000005</real>
      <key>public.kern2.quotesingle</key>
      <real>-66.66666</real>
      <key>public.kern2.t</key>
      <real>-52.99145</real>
      <key>public.kern2.y</key>
      <real>39.31624</real>
    </dict>
    <key>public.kern1.hyphen</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>-80</integer>
      <key>public.kern2.V</key>
      <real>-68.75</real>
      <key>public.kern2.X</key>
      <real>-118.75</real>
    </dict>
    <key>public.kern1.i</key>
    <dict>
      <key>public.kern2.n</key>
      <real>23.93162</real>
      <key>public.kern2.o</key>
      <real>23.93162</real>
      <key>public.kern2.quotesingle</key>
      <real>-52.99145</real>
      <key>public.kern2.t</key>
      <real>-52.99145</real>
      <key>public.kern2.v</key>
      <real>-39.31624</real>
      <key>public.kern2.y</key>
      <real>13.67521</real>
    </dict>
    <key>public.kern1.j</key>
    <dict>
      <key>public.kern2.quotesingle</key>
      <real>-105.9829</real>
    </dict>
    <key>public.kern1.k</key>
    <dict>
      <key>public.kern2.a</key>
      <real>-66.66666</real>
      <key>public.kern2.o</key>
      <real>-39.31624</real>
      <key>public.kern2.quotesingle</key>
      <real>-105.9829</real>
      <key>public.kern2.t</key>
      <real>-52.99145</real>
    </dict>
    <key>public.kern1.l</key>
    <dict>
      <key>public.kern2.j</key>
      <real>-137.5</real>
      <key>public.kern2.periodcentered</key>
      <real>-163.75</real>
      <key>public.kern2.quotesingle</key>
      <real>-41.02564</real>
      <key>public.kern2.t</key>
      <real>-52.99145</real>
      <key>public.kern2.y</key>
      <real>39.31624</real>
    </dict>
    <key>public.kern1.l.ss01</key>
    <dict>
      <key>public.kern2.periodcentered</key>
      <real>-26.25</real>
    </dict>
    <key>public.kern1.n</key>
    <dict>
      <key>public.kern2.j</key>
      <integer>-65</integer>
      <key>public.kern2.o</key>
      <real>25.64103</real>
      <key>public.kern2.quotesingle</key>
      <real>-133.33333</real>
      <key>public.kern2.t</key>
      <real>-85.47009</real>
      <key>public.kern2.y</key>
      <real>39.31624</real>
      <key>t.ss01</key>
      <real>-71.79487</real>
      <key>t_u</key>
      <real>-102.5641</real>
    </dict>
    <key>public.kern1.o</key>
    <dict>
      <key>public.kern2.a</key>
      <real>-13.67521</real>
      <key>public.kern2.h</key>
      <real>-47.86325</real>
      <key>public.kern2.quotesingle</key>
      <real>-94.0171</real>
      <key>public.kern2.s</key>
      <real>-17.09402</real>
      <key>public.kern2.t</key>
      <real>-54.70086</real>
      <key>public.kern2.v</key>
      <integer>-20</integer>
      <key>public.kern2.x</key>
      <real>-13.67521</real>
    </dict>
    <key>public.kern1.period</key>
    <dict>
      <key>public.kern2.quotedbl</key>
      <real>-153.84616</real>
      <key>public.kern2.quotedblleft</key>
      <real>-153.84616</real>
      <key>public.kern2.quotesingle</key>
      <real>-153.84616</real>
    </dict>
    <key>public.kern1.q</key>
    <dict>
      <key>public.kern2.quotesingle</key>
      <real>-39.31624</real>
      <key>public.kern2.t</key>
      <real>-52.99145</real>
      <key>public.kern2.u</key>
      <real>-25.64103</real>
      <key>public.kern2.y</key>
      <real>39.31624</real>
    </dict>
    <key>public.kern1.quotesingle</key>
    <dict>
      <key>public.kern2.M</key>
      <real>-11.96581</real>
      <key>public.kern2.S</key>
      <real>-66.66666</real>
      <key>public.kern2.T</key>
      <real>41.02564</real>
      <key>public.kern2.n</key>
      <real>-165.81197</real>
      <key>public.kern2.o</key>
      <real>-172.64957</real>
      <key>public.kern2.s</key>
      <real>-117.94872</real>
      <key>public.kern2.t</key>
      <real>-42.73504</real>
      <key>public.kern2.v</key>
      <real>-94.0171</real>
      <key>r</key>
      <real>-141.88034</real>
    </dict>
    <key>public.kern1.r</key>
    <dict>
      <key>d</key>
      <real>-70.08547</real>
      <key>m</key>
      <real>39.31624</real>
      <key>public.kern2.h</key>
      <real>25.64103</real>
      <key>public.kern2.i</key>
      <real>25.64103</real>
      <key>public.kern2.j</key>
      <real>25.64103</real>
      <key>public.kern2.n</key>
      <real>25.64103</real>
      <key>public.kern2.o</key>
      <real>-19.230768749999996</real>
      <key>public.kern2.p</key>
      <real>25.64103</real>
      <key>public.kern2.period</key>
      <integer>-150</integer>
      <key>public.kern2.t</key>
      <real>52.99145</real>
      <key>public.kern2.u</key>
      <real>52.99145</real>
      <key>public.kern2.v</key>
      <real>52.99145</real>
      <key>public.kern2.w</key>
      <real>25.64103</real>
      <key>public.kern2.y</key>
      <integer>30</integer>
      <key>r</key>
      <real>52.99145</real>
    </dict>
    <key>public.kern1.s</key>
    <dict>
      <key>public.kern2.t</key>
      <integer>-20</integer>
      <key>t_i</key>
      <real>-71.79487</real>
    </dict>
    <key>public.kern1.seven</key>
    <dict>
      <key>public.kern2.four</key>
      <real>-100.21367624999999</real>
    </dict>
    <key>public.kern1.slash</key>
    <dict>
      <key>public.kern2.slash</key>
      <real>-170.94017</real>
    </dict>
    <key>public.kern1.t</key>
    <dict>
      <key>o</key>
      <real>-95.72649</real>
      <key>public.kern2.a</key>
      <integer>-40</integer>
      <key>public.kern2.i</key>
      <integer>-50</integer>
      <key>public.kern2.o</key>
      <integer>-70</integer>
      <key>public.kern2.s</key>
      <real>-71.79487</real>
      <key>public.kern2.t</key>
      <integer>-30</integer>
      <key>public.kern2.w</key>
      <integer>-20</integer>
      <key>public.kern2.y</key>
      <real>-23.93162</real>
    </dict>
    <key>public.kern1.u</key>
    <dict>
      <key>public.kern2.t</key>
      <integer>-35</integer>
    </dict>
    <key>public.kern1.w</key>
    <dict>
      <key>public.kern2.a</key>
      <real>-13.67521</real>
    </dict>
    <key>public.kern1.y</key>
    <dict>
      <key>public.kern2.quotesingle</key>
      <real>-39.31624</real>
      <key>public.kern2.t</key>
      <real>-52.99145</real>
      <key>public.kern2.y</key>
      <real>39.31624</real>
    </dict>
    <key>t.ss01</key>
    <dict>
      <key>o</key>
      <real>-41.02564</real>
      <key>public.kern2.a</key>
      <real>-52.99145</real>
      <key>public.kern2.i</key>
      <real>-27.35043</real>
      <key>public.kern2.o</key>
      <real>-80.34188</real>
      <key>public.kern2.w</key>
      <real>-41.02564</real>
    </dict>
    <key>t_i</key>
    <dict>
      <key>public.kern2.y</key>
      <real>23.93162</real>
    </dict>
  </dict>
</plist>
